.App {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    min-width: 50%;
    max-width: 50%;
}

.get-data button {
    margin-left: 5px;
}

.get-data input {
    width: 100%;
}

.wrapper p {
    display: block;
    color: red;
    font-weight: bold;
    text-shadow: 4px 12px 1px orange;
    word-break: break-word;
}